* {
  margin: 0;
  padding: 0;
}
body {
  /* 使用 Element Plus 的暗黑模式背景变量 */
  background-color: var(--el-bg-color-dark);
  color: var(--el-text-color-dark);
}
.el-header {
  background-color: var(--el-bg-color-dark);
  /* 设置暗黑模式下的背景颜色 */
  color: var(--el-text-color-dark);
  /* 设置暗黑模式下的文字颜色 */
}
/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  transform: translateX(-30px);
  opacity: 0;
}

.fade-slide-leave-to {
  transform: translateX(30px);
  opacity: 0;
}